{% extends 'base.html' %}
{% load static from staticfiles %}
{% block headertop %}
    <div id="headertop">
        <div id="logo">
            <img src="{{ MEDIA_URL }}images/logo.png">
        </div>
    </div>

{% endblock %}
{% block content %}
<!--HOME-->

	<section id="home" data-anchor="Home" style="background-image: url('{% static "cover3.png" %}')">
		<div id="claim">
			<span>Lively terrariums.</span>
		</div>

	</section>

	<section id="concept" data-anchor="Concept">

			<div id="concept_cont" class="col-md-3">
				<div id="concept_cont_inbox" >
					<div class="animatable fadeInUp"> </div>
					<p class="animatable fadeInUp">  La energía de la tierra evoluciona la belleza de la geometría a un siguiente nivel.</p>
					<div class="animatable fadeInUp"> </div>
				</div>
			</div>

			<div id="concept_slider" class="col-md-9 carousel slide carousel-fade" data-ride="carousel">
				<!--Indicator-->
				<ol class="carousel indicators">
					<li data-target="concept_slider" data-slide-to="0" class="active"></li>
					<li data-target="concept_slider" data-slide-to="1"></li>
					<li data-target="concept_slider" data-slide-to="2"></li>
					<li data-target="concept_slider" data-slide-to="3"></li>
					<li data-target="concept_slider" data-slide-to="4"></li>
				</ol>
					<!--data wrapper-->
				<div class="carousel-inner" role="listbox">
					<div id="con1" class="item active"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/1.png"> </div>
					<div id="con2" class="item"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/2.png" width="100%"></div>
					<div id="con3" class="item"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/3.png" width="100%"> </div>
					<div id="con4" class="item"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/4.png" width="100%"> </div>
					<div id="sliderxs"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/4.png" width="100%"> </div>
					<div id="con5" class="item"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/5.png" width="100%"> </div>
				</div>
			</div>
	</section>

<!--PROCESS-->

	<section id="process" data-anchor="Process">
		<div id="process_center" class="container">
			<div id="process_title">
				<span class="underline"></span>
				<p class="title"> ABOUT </p>
			</div>
			<div id="process_subtitle">
				<ul>
					<li id="1" class="subon">  Kybos  </li>
					<li id="2">  Proceso </li>
				</ul>
			</div>
			<div id="process_cont" class="row">
				<!--me-->
				<div id="me" class="on">

					<div id="me_one" class="animatable fadeInUp">
							<p class="text">
                                            Kybos significa cubo, el poliedro asociado a la tierra. Kybos es la marca de los terrarios geométricos del
                     del                    artesano Carlos Castaño, que tras varios años perfeccionando su técnica tiffanys, ha conseguido crear
                     un                     gran producto de decoración que permite cubrir la belleza de la geometría con la energía que transmite
                     la                     tierra y su naturaleza.
                            </p>
					</div>
					<div id="me_two" class="animatable fadeInUp">
						<div class="attr">
							<div class="circle"> <span class="glyphicon glyphicon-tree-conifer"></span></div>
							<h4> Terrarios geométricos </h4>
							<p> La geometria inspira todos disenos de Kybos. Lineas, poligonos y poliedros que perfectamente combinados
                                transmiten una elegante y soberbia belleza a tus terrarios.
                            </p>
						</div>
						<div class="attr">
							<div class="circle"> <span class="glyphicon glyphicon-scissors"></span></div>
							<h4> Hechos a mano </h4>
							<p> El proceso de creación de los terrarios kybos es totalmente artesanal. Gracias a la técnica Tiffanys, Carlos
                            crea auténticas piezas de decoración únicas e irrepetibles. </p>
						</div>
						<div class="attr">
							<div class="circle"> <span class="glyphicon glyphicon-asterisk"></span></div>
							<h4> Materiales premium </h4>
							<p> La calidad del cristal es uno de los puntos más cuidados en Kybos. Cuando se trabaja con cuidado y mimo con
                                los mejores materiales, el resultado obtenido es de gran calidad y exclusividad.  </p>
						</div>
					</div>

				</div>
				<!--Process-->
				<div id="proceso" class="animatable fadeInUp">
					<div class="processtext col-md-5">
						<div id="textslider">
							<span id="prev" class="glyphicon glyphicon-chevron-left"></span>
							<div id="containerul">
								<ul id="textwrap">
									<li class="texts"><h2 class="subheader" > Diseño </h2><span> 01 </span>
                                        <p class="text">Todo comienza con una escuadra y cartabón. El diseño de nuestro terrario es plasmado en el
                                            papel y será la base de todo el proyecto.</p></li>
									<li class="texts"><h2 class="subheader"> Corte </h2> <span> 02 </span>
                                        <p class="text">  Todas las piezas y formas requeridas son cortadas a mano una a una y cuidadosamente pulidas
                                            para que representen fielmente nuestro diseno. </p></li>
									<li class="texts"><h2 class="subheader"> Ensamblado  </h2><span> 03 </span>
                                        <p class="text">Tras crear un prototipo de nuestro terrario y comprobar que todo encaja a la perfeccion, todas los bordes
                                            de las piezas son recubiertos con cobre. </p></li>
									<li class="texts"><h2 class="subheader"> Fusión  </h2><span> 04 </span>
                                        <p class="text"> El momento mágico el terrario cobra vida y adquiere su estructura. El soldador funde el metal creando
                                        una consistencia propia de un producto hecho totalmente a mano.</p></li>
									<li class="texts"><h2 class="subheader"> Pintura </h2><span> 05 </span>
                                        <p class="text">  El último punto del proceso en el que una vez limpiado el terrario se aplica un color atractivo
                                        y finalmente obtenemos nuestra pieza de decoración.</p></li>
								</ul>
							</div>
							<span id="next" class="glyphicon glyphicon-chevron-right"></span>
						</div>
					</div>
					<div class="processpict col-md-7 col-sm-12">
						<div id="imgslider">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/design.png" width="90%" height="90%">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/cut.png" width="90%" height="90%">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/assemble.png" width="90%" height="90%">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/melt.png" width="90%" height="90%">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/paint.png" width="90%" height="90%">

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="products" data-anchor="Products">
		<div id="products_center"  class="container">
			<div id="products_tittle">
				<span class="underline"></span>
				<p class="title"> PRODUCTOS  </p>
			</div>
			<div id="product_description" class="animatable fadeInUp">
				<p class="text"> Elige el diseño que más se adapte a tu espacio y rellénalo con la belleza geométrica llena de naturaleza
                de los terrarios Kybos. Actualmente los disenos disponibles son los siguientes:</p>
			</div>
            {% for product in products %}
					<div class="col-md-4 col-sm-4 col-xs-11 animatable fadeInUp" >
						<div data-ficha="{{ product.title }}" id="divcube" class="ficha">
                            <img src="{{ MEDIA_URL }}{{ product.cover }}">
                            <a href="{% url 'product_detail' product.id %}">
                                <div data-thumb="{{ product.title }}" class="thumb_overlay">
							    <h4> {{ product.title }} </h4>
                            </div >
                            </a>
						</div>

					</div>
            {% endfor %}
 	</div>
	</section>
	<section id="breath" style="background-image: url('{% static "breath.png" %}')">

	</section>
	<section id="contact" data-anchor="Contact">
		<div id="contact_center" class="container">
			<div id="contact_tittle">
				<span class="underline"></span>
				<p class="title"> CONTACTO </p>
			</div>
			<div id="contact_text">
				<p class="text"> Si necesitas más información sobre los terrarios Kybos o simplemente quieres ponerte en contacto con
                el artesano Carlos, no dudes en escribir a través del siguiente formulario. </p>
			</div>
			<div id="contact_form">
				<form>
					<div class="form-group">
						<label class="subheader" for="nameform"> Nombre </label>
						<input type="text" class="form-control" id="nameform" placeholder="Your name" required>
					</div>
					<div class="form-group">
						<label class="subheader" for="emailform"> Email </label>
						<input type="text" class="form-control" id="emailform" placeholder="Your email">
					</div>
					<div class="form-group">
						<label class="subheader" for="messageform"> Tu mensaje  </label>
						<textarea type="textarea" class="form-control" id="messageform" placeholder="Your message" rows="5"></textarea>
					</div>
					<button type="submit" class="btn btn-default btn-green"> Enviar </button>
				</form>
			</div>
		</div>
	</section>
    <script>
    $(document).ready(function() {
        hover_works();
    });

    function hover_works(){
        $('[data-ficha]').mouseenter(function () {
           var thumb_targeted = $(this).attr('data-ficha');
            $('[data-thumb="' + thumb_targeted + '"]').addClass('up_thumb');
        });
        $('.thumb_overlay').mouseleave(function(){
            $('.thumb_overlay').removeClass('up_thumb');
        });
    }


    </script>
{% endblock %}