{% extends 'base.html' %}
{% load static from staticfiles %}
{% block headertop %}
    <div id="headertop">
        <div id="logo">
            <img src="{{ MEDIA_URL }}images/logo.png">
        </div>
    </div>

{% endblock %}
{% block content %}
<!--HOME-->

	<section id="home" data-anchor="Home" style="background-image: url('{% static "cover3.png" %}')">
		<div id="claim">
			<span>Lively terrariums.</span>
		</div>

	</section>

	<section id="concept" data-anchor="Concept">

			<div id="concept_cont" class="col-md-3">
				<div id="concept_cont_inbox" >
					<div class="animatable fadeInUp"> </div>
					<p class="animatable fadeInUp">  La energía de la tierra evoluciona la belleza de la geometría a un siguiente nivel.</p>
					<div class="animatable fadeInUp"> </div>
				</div>
			</div>

			<div id="concept_slider" class="col-md-9 carousel slide carousel-fade" data-ride="carousel">
				<!--Indicator-->
				<ol class="carousel indicators">
					<li data-target="concept_slider" data-slide-to="0" class="active"></li>
					<li data-target="concept_slider" data-slide-to="1"></li>
					<li data-target="concept_slider" data-slide-to="2"></li>
					<li data-target="concept_slider" data-slide-to="3"></li>
					<li data-target="concept_slider" data-slide-to="4"></li>
				</ol>
					<!--data wrapper-->
				<div class="carousel-inner" role="listbox">
					<div id="con1" class="item active"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/1.png"> </div>
					<div id="con2" class="item"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/2.png" width="100%"></div>
					<div id="con3" class="item"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/3.png" width="100%"> </div>
					<div id="con4" class="item"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/4.png" width="100%"> </div>
					<div id="sliderxs"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/4.png" width="100%"> </div>
					<div id="con5" class="item"> <img src="{{ MEDIA_URL }}images/images_ky/slider_concept/treated/5.png" width="100%"> </div>
				</div>
			</div>
	</section>

<!--PROCESS-->

	<section id="process" data-anchor="Process">
		<div id="process_center" class="container">
			<div id="process_title">
				<span class="underline"></span>
				<p class="title"> ABOUT </p>
			</div>
			<div id="process_subtitle">
				<ul>
					<li id="1" class="subon">  Kybos  </li>
					<li id="2">  Process </li>
				</ul>
			</div>
			<div id="process_cont" class="row">
				<!--me-->
				<div id="me" class="on">

					<div id="me_one" class="animatable fadeInUp">
							<p class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Nunc dictum interdum sem, nec gravida risus consequat sed. Praesent rhoncus mollis luctus. In in interdum enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					</div>
					<div id="me_two" class="animatable fadeInUp">
						<div class="attr">
							<div class="circle"> <span class="glyphicon glyphicon-tree-conifer"></span></div>
							<h4> Geometric terrariums </h4>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Nunc dictum interdum sem,</p>
						</div>
						<div class="attr">
							<div class="circle"> <span class="glyphicon glyphicon-scissors"></span></div>
							<h4> Homemade </h4>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Nunc dictum interdum sem,</p>
						</div>
						<div class="attr">
							<div class="circle"> <span class="glyphicon glyphicon-asterisk"></span></div>
							<h4> Premium materials </h4>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Nunc dictum interdum sem,</p>
						</div>
					</div>

				</div>
				<!--Process-->
				<div id="proceso" class="animatable fadeInUp">
					<div class="processtext col-md-5">
						<div id="textslider">
							<span id="prev" class="glyphicon glyphicon-chevron-left"></span>
							<div id="containerul">
								<ul id="textwrap">
									<li class="texts"><h2 class="subheader" > Design</h2><span> 01 </span> <p class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque.</p></li>
									<li class="texts"><h2 class="subheader"> Cut </h2> <span> 02 </span><p class="text">  ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Lorem</p></li>
									<li class="texts"><h2 class="subheader"> Assemble </h2><span> 03 </span><p class="text">  dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Lorem ipsum</p></li>
									<li class="texts"><h2 class="subheader"> Melt </h2><span> 04 </span><p class="text"> sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Lorem ipsum dolor </p></li>
									<li class="texts"><h2 class="subheader"> Paint </h2><span> 05 </span><p class="text">  amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Lorem ipsum dolor sit</p></li>
								</ul>
							</div>
							<span id="next" class="glyphicon glyphicon-chevron-right"></span>
						</div>
					</div>
					<div class="processpict col-md-7 col-sm-12">
						<div id="imgslider">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/design.png" width="90%" height="90%">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/cut.png" width="90%" height="90%">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/assemble.png" width="90%" height="90%">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/melt.png" width="90%" height="90%">
							<img class="img" src="{{ MEDIA_URL }}images/images_ky/process/paint.png" width="90%" height="90%">

						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section id="products" data-anchor="Products">
		<div id="products_center"  class="container">
			<div id="products_tittle">
				<span class="underline"></span>
				<p class="title"> PRODUCTS </p>
			</div>
			<div id="product_description" class="animatable fadeInUp">
				<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque. Nunc dictum interdum sem, nec gravida risus consequat sed. Praesent rhoncus mollis luctus. In in interdum enim</p>
			</div>
            {% for product in products %}
					<div class="col-md-4 col-sm-4 col-xs-11 animatable fadeInUp" >
						<div data-ficha="{{ product.title }}" id="divcube" class="ficha">
                            <img src="{{ MEDIA_URL }}{{ product.cover }}">
                            <a href="{% url 'product_detail' product.id %}">
                                <div data-thumb="{{ product.title }}" class="thumb_overlay">
							    <h4> {{ product.title }} </h4>
                            </div >
                            </a>
						</div>

					</div>
            {% endfor %}
 	</div>
	</section>
	<section id="breath" style="background-image: url('{% static "breath.png" %}')">

	</section>
	<section id="contact" data-anchor="Contact">
		<div id="contact_center" class="container">
			<div id="contact_tittle">
				<span class="underline"></span>
				<p class="title"> CONTACT </p>
			</div>
			<div id="contact_text">
				<p class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue ac erat venenatis, id pellentesque massa pellentesque</p>
			</div>
			<div id="contact_form">
				<form>
					<div class="form-group">
						<label class="subheader" for="nameform"> Name </label>
						<input type="text" class="form-control" id="nameform" placeholder="Your name" required>
					</div>
					<div class="form-group">
						<label class="subheader" for="emailform"> Email </label>
						<input type="text" class="form-control" id="emailform" placeholder="Your email">
					</div>
					<div class="form-group">
						<label class="subheader" for="messageform"> Your message </label>
						<textarea type="textarea" class="form-control" id="messageform" placeholder="Your message" rows="5"></textarea>
					</div>
					<button type="submit" class="btn btn-default btn-green"> Send </button>
				</form>
			</div>
		</div>
	</section>
    <script>
    $(document).ready(function() {
        hover_works();
    });

    function hover_works(){
        $('[data-ficha]').mouseenter(function () {
           var thumb_targeted = $(this).attr('data-ficha');
            $('[data-thumb="' + thumb_targeted + '"]').addClass('up_thumb');
        });
        $('.thumb_overlay').mouseleave(function(){
            $('.thumb_overlay').removeClass('up_thumb');
        });
    }


    </script>
{% endblock %}