/* kybos.css */

/*fonts 

font-family: 'Kaushan Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; 

*/


/* Settings restarts */

*{
    margin: 0px;
    padding: 0px;
    border:0px;
}

/* Site adapted to screen */

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    position: relative;
}

/*TABLET DEVICES*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
 
    header{
        background-color: white;
    }
    .navbar-default .navbar-nav>li>a{
        margin: 30px 10px!important;
        font-size: 20px!important;
    }

    .navbar-default .navbar-nav>li>a:hover  {
    margin-bottom: 27px!important;
    }
   
    #checkout{
    min-height: 700px!important;    
    }
    .boxes{
        height: 40%!important;
        width: 40%!important;
    }
    #back span, #back p{              /* Back */
        font-size: 17px!important;
    }

    /*concept*/

    #concept{
        height: 500px!important;
        min-height: 200px!important;
    }

    #concept_cont{
        height: 200px!important;
        min-height: 200px!important;
    }

    #concept_cont_inbox{
        margin: 0px 30px!important;
        position: absolute;
        top: 0;
    }

    #concept_cont_inbox p{
        font-size: 20px!important;
    }

    #concept_slider{
        height: 300px!important;
    }


    /*about*/

    #process{
        min-height: 600px!important;
        height: 600px!important;
    }

    #process_title{
        height: 100px!important;
    }

    .title{
        font-size: 30px!important;
    }

    /*me*/

    #me_one{
        height: 150px!important;
    }

    #me_one p{
        font-size: 15px!important;
    }

    .circle{
        height: 80px!important;
        width: 80px!important;
    }

    .circle span{
        font-size: 40px!important;
        top:20px!important;
    }

    /*process*/

    #textslider{
        margin-top: 0px!important;
    }

    .processpict img{
        height: 300px!important;
        width: 400px!important;
        display: block;
        margin: auto;
    }

    #textslider h2{
        font-size:20px!important;
    }

    .processtext p{
        font-size: 16px!important;
    }    

    /*product*/

    #products{
        height: 750px!important;
        min-height: 750px!important;
    }

    #products_tittle{
        height: 100px!important;
    }

    #product_description p{
        font-size: 16px!important;
    }

    #gallery .row{
        height: 140px!important;
    }

    .ficha img{
        height: 135px!important;
    }

    .ficha h4{
        font-size: 20px!important;
    }


    /*breath*/

    #breath{
        height: 200px!important;
        min-height: 200px!important;
    }

    /*contact*/

    #contact{
        height: 500px!important;
        min-height: 400px!important;
    }

    #contact_text{
        margin: 0!important;
        font-size: 16px!important;
    }  

    #contact_text p{
        font-size: 16px!important;
    }

    .form-group textarea{
        height: 50px!important;
    }

    #contact_form button{
        font-size: 16px!important;
    }

 }   



/*SMALL DEVICES*/

@media only screen and (max-width: 767px) {
    
    /*HEADER*/

    header{
        position: fixed !important;
        top: 0px;
        z-index: 1000000000;
        height: 80px !important;
        border-bottom: 1.5px solid #b3de81;
        min-height: 80px!important;

    }

    /*NAV*/

    .navbar-brand {
        display: block !important;

    }

    #navwrapper{
        padding: 0px;
    }
    .navbar-brand img{       /* logo properties */
        max-height: 115%;
        position: absolute;
        top: 0;
        left: 80%;
    }

    .navbar-brand p{
        position: absolute;
        left: 100px;
        font-family: "Montserrat";
        font-size: 16px;
        color: black;
        width: 200px;
    }

    .navbar-brand{
        position: relative; 
        float: left;
    }
    #logintoggle{
    position: relative;
    width:100%;
    background-color: white;
    text-align: center;
    border-bottom: 1.5px solid #b3de81;

    }
 
    #navind{
        display: none;
    }
    #headertop{
    display: none;
    }
    
  

    .navbar-default .navbar-nav {  /* Nav links properties */
    margin: 0px;
    font-family: "Megrim";
    font-size: 8px;
    width: 100%;
    background-color: white;
    }

    .navbar-default .navbar-nav>li>a:hover {  /* Nav links properties */
    border-bottom: none !important;
    }

    .navbar-default .navbar-nav li>a{  /* Nav links properties */
    font-size: 16px !important;

    }

    a.nav-link{  /* Deleting login nav link margin*/ 
        margin: 0px !important;
    }



    /*HOME*/
    #home{
        min-height: 200px!important;
        height: 300px!important;
        margin-top: 50px;
    }

    #claim span{
        font-size: 40px!important;
    }

    /*concept*/

    #concept{
        height: 150px!important;
        min-height: 100px!important;
    }


    #concept_cont{
        height: 200px!important;
        min-height: 200px!important;
    }

    #concept_cont_inbox{
        margin: 0px 30px!important;
        position: absolute;
        top: 0;
    }

    #concept_cont_inbox p{
        font-size: 16px!important;
        margin-bottom: 0!important;
    }

    #concept_cont_inbox div{
        margin-top: 5px!important;
        margin-bottom: 5px!important;
    }


    #concept_slider{
        height: 300px!important;
    }


    /*about*/

    #process{
        min-height: 1000px!important;
        height: 1000px!important;
    }

    #process_title{
        height: 80px!important;
    }

    #process_subtitle{
        display: none!important;
    }

    .title{
        font-size: 25px!important;
    }

    .underline{
        width: 80px!important;
    }

    #process_subtitle ul li{
        font-size: 16px!important;
    }

    #proceso{
        display: none!important;
    }


    /*me*/

    #me_one{
        height: 150px!important;
    }

    #me_one p{
        font-size: 14px!important;
        margin: 20px 20px!important;
    }

    #me_two{

    margin-top: 20px!important;
    /*flexbox*/
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex-direction: column!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
    -webkit-justify-content: space-between!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    -webkit-align-content: center!important;
    -ms-flex-line-pack: center!important;
    align-content: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    /*flexnox*/
    }

    .circle{
        height: 60px!important;
        width: 60px!important;
    }

    .circle span{
        font-size: 30px!important;
        top:15px!important;
    }

    /*process*/

    #textslider{
        margin-top: 0px!important;
    }

    .processpict img{
        height: 300px!important;
        width: 400px!important;
        display: block;
        margin: auto;
    }

    #textslider h2{
        font-size:20px!important;
    }

    .processtext p{
        font-size: 16px!important;
    }    

    /*product*/

    #products{
        height: 1700px!important;
        min-height: 2000px!important;
    }

    #products_tittle{
        height: 100px!important;
    }

    #product_description{
        padding: 0 20px!important;
        height: 100px!important;
    }

    #product_description p{
        font-size: 14px!important;
    }

    #gallery .row{
        height: 140px!important;

    }
    .ficha{
        margin-left: 40px!important;
    }

    .ficha img{
        height: 200px!important;
    }

    .ficha h4{
        font-size: 20px!important;
    }


    /*breath*/

    #breath{
        height: 150px!important;
        min-height: 150px!important;
    }

    /*contact*/

    #contact{
        height: 520px!important;
        min-height: 400px!important;
    }

    #contact_text{
        margin: 0!important;
        font-size: 16px!important;
        height: 100px!important;
    }  

    .form-group input{
        display: inline!important;
        font-size: 12px!important;
    }

    #contact form{
        display: inline!important;
    }
    

    #contact_text p{
        font-size: 14px!important;
    }



    .form-group textarea{
        height: 50px!important;
    }

    #contact_form button{
        font-size: 16px!important;
    }


    /*footer*/

    footer{
        height: 200px!important;
    }

    #navfooter{
        display: none!important
    }

    .footerbox{
        height: 200px!important;
    }

    .footerboxcenter img{
        width: 60px!important;
    }

    .footerboxcenter h4{
        font-size: 14px!important;
    }

    .footerboxcenter p{
        font-size: 12px!important;
    }

}   


/*////// END RESPONSIVE ////////*/



/*////// Classes style  ////////*/


.container {
    background-color:white
}


.fixed{
    background-color: white!important;
    position: fixed;
    top: 0;
    z-index: 1000000000 !important;
}

.hidden{
    display:none!important;
}

.show{
    display: block!important;
}

.nonfixed{
    position: relative;
}


.text {
    font-family: "lato";
    font-size: 17px;

}


.title{
    font-family: 'Megrim', cursive;
    position: absolute;
    font-size: 45px;
    top: 50%;
    transform: translate(0%,-50%);
    text-align: center;
    width: 100%;
    z-index: 100000;
}

.underline{
    background-color: #b3de81;
    width: 120px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
}


.subheader{
    color: #555555!important;
    font-family: "Montserrat";
}


.white{
    color: white!important;
}


        /*BUTTON*/

.btn {
  margin-right: 1em; /*  button 1*/
  margin-bottom: 1em;
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 2px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    border-radius: 3px;
    font-size: 18px;
    padding: 0.5375em 1.375em;
    color: #2a3132;
    border-color: #b3de81;

}


.btn-primary{
    background: transparent;
}

.btn-primary:hover{
    background: #b3de81;
    color: white;
    border: 2px solid #b3de81;
}

.btn-green:hover {
  background: #b3de81;
  color: #fff;
  border-color: #b3de81;
}

.btn:focus {
    outline: none;
    background-color: transparent;
    border-color: #b3de81;
}

.btn:active {
    outline: none;
    background-color: transparent;
    border-color: #b3de81;
}

.btn:active:focus {
    outline: none;
    background-color: transparent;
    border-color: #b3de81;
}

.btndos {
  margin-right: 1em;  /*  button 2*/
  margin-bottom: 1em;
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 2px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    border-radius: 3px;
    font-size: 18px;
    padding: 0.5375em 1.375em;
    color: white;
    border-color: #b3de81;
    background-color: #b3de81!important;

}

.btndos-green:hover {
  background: white;
  color: black;
  border-color: #b3de81;
}

.btndos:focus {
    outline: none;
    background-color: #b3de81;
    border-color: #b3de81;
    color: white;
}

.btndos:active {
    outline: none;
    background-color: transparent;
    border-color: #b3de81;
}

.btndos:active:focus {
    outline: none;
    background-color: transparent;
    border-color: #b3de81;
}

#back{              /* Back */
    height: 10%;
    right: 0;
    width: 100%;
    text-align: right;
    padding-right: 40px;
    font-size: 20px;
}

#back p{
    display: inline;
}


#back a{
    text-decoration: none;
}



#back p{
    display: inline;
}

#back span{
    font-size: 20px;
    padding: 10px 0px;
}

#back a{
    text-decoration: none;
    color: black;
}

#back a:hover  {
    border-bottom: 3px solid #b3de81;
    color: #b3de81;
    transition: 0.1s;
    margin-bottom: 27px;
}


.center{
    text-align: center;
}

.column_center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.quick{
    width: 30%;
    display: block;
    margin: 30px auto;
}

/*////// Classes style ////////*/


#sliderxs{
        display: none;
    }


.shadow {
-webkit-box-shadow: 3px 0px 56px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 0px 56px -9px rgba(0,0,0,0.75);
box-shadow: 3px 0px 56px -9px rgba(0,0,0,0.75);
}

    /*sections*/ 




/* Head menu */

header{
    background-color: white;
    width: 100%;

    /*flex*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /*end flex*/

    position: relative;
}


/*logo*/


#headertop{
    background-color: white;
    text-align: center;
    height: 25%;
}

#logo{
    height: 100%;
    margin: auto;
    padding: 20px 0 0 0;

}

#logo img{
    height: 150px;
    margin: auto;

}


/*menu*/

.navbar-default .navbar-nav>li>a {
    color: black!important;
}

#navbarall {
    background-image: none!important;
    background-color: transparent;
    border:none;
    margin-bottom: 0px;
    position: relative;
    text-align: center;

}



.navbar-brand{
        display: none;
    }

.navbar-default .navbar-nav>li>a  {  /* Nav links properties */
    margin: 10px 30px;
    font-family: "Megrim";
    font-size: 25px;
    padding: 5px 15px;
}


.navbar-default .navbar-nav>li>a:hover  {
    border-bottom: 3px solid #b3de81;
    color: #b3de81!important;
    transition: 0.1s;
    background: transparent;
    padding: 5px 15px 2px 15px;

}


.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.navbar-brand{
    position: absolute; 
    }


/* Home */

#home{
    height: 70%;
    width: 100%;
    min-height: 550px;
    background-size: cover;
    background-position: bottom;
    position: relative;
    z-index: 7;
}

#claim{
    font-family: 'Montserrat', cursive;
    font-size: 65px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
}

#claim span{
    background-color: white;
    padding: 0 20px;
}

/* Concept */

#concept {
    height: 60%;
    min-height: 250px;   
    position: relative;
    /*overflow: hidden;*/

}


#concept_cont{
   
    background-color: #b3de81;/*#a5c05b*/
    height: 100%;
    min-height: 250px;   
    position: relative;
}

#concept_cont_inbox{ 

    margin: 30px;
    position: absolute;
    top:45%;
    transform: translate(0%,-50%);
}

#concept_cont p{
    text-align: center;
    font-family: 'Montserrat', cursive;
    font-size: 4vh;
    color: white;
   
}

#concept_cont_inbox div{
    border-top: 2px solid white;
    width: 50%;
    margin: 20px auto;
}


/*slider //change fade:https://codepen.io/Rowno/pen/Afykb // */



#concept_slider{
    height: 100%;
    padding:0;
    background-color: #b3de81;
    overflow: hidden;
}

#concept_slider ol{
    display:none;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 100%;
}

                /*//change fade//*/


.carousel-fade .carousel-inner .item{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function:linear;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
    transition:0s;
}

.carousel-fade .carousel-inner .active:before{
   background: none !important;

}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}




/* Process */

#process{
    height: 80%;
    position: relative;
    min-height: 650px;

}

#process_center{
    height: 100%;
    top:-5%; 

}
    /*title*/

#process_title{
    height: 20%;
    position: relative;
}


    /*subtitle*/

#process_subtitle{
    height: 10%;
}

#process_subtitle ul{
    text-align: center;

}

#process_subtitle ul li{
    display: inline-block;
    list-style-type: none;
    font-family: "Montserrat";
    font-size: 20px;
    margin:  10px 30px;
    cursor: pointer;
}

.subon{
    border-bottom: 3px solid #b3de81;
}

#process_subtitle ul li a{
    text-decoration: none;
    color: black;
}



    /*process content*/

#process_cont{
    height: 70%;
}

#me, #proceso{
    display: none;
}


.on{
    display: block !important;
    z-index: 100000000;
}



    /*me*/

#me{
    height: 100%;
    text-align: center;
    padding: 20px;
}




#me_two{
    width: 100%;
    height: 70%;

    /*flexbox*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*flexbox*/

}

.attr{
    height: 100%;
    text-align: center;

    /*flexbox*/
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /*flexbox*/
}


.circle{
    background-color: #b3de81;
    height: 130px;
    width: 130px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);
}

.circle span{
    display: block;
    margin: auto;
    font-size: 70px;
    position: relative;
    top: 30px;
    color: white;

}
.attr img{
    border-radius: 50%;
    width: 50%;
    margin: 0px 30px 30px 30px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);

}

.attr h4{
    font-family: "Montserrat";
    border-bottom: 3px solid #b3de81;
    display: inline;
    margin-top:20px!important;
    color: black;
}

.attr p{
    font-family: "lato";
    margin: 30px;
}


    

      /*Process*/

.processpict{
    height: 100%;
    position: relative;
    text-align: center;
    float: right;

}

.processpict img{
    margin: auto;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);
    display: none;
}

.imgactive{
    display: block!important;
}



.processtext{
    height: 100%;
}

            /*text*/

 #textslider{
    margin: 10% 5% 0% 5%;
    float: left;
    position: relative;
 }   

 #textslider h2{
    margin: 0px 20px;
 } 

.textactive{
    display: block!important;
}


#containerul li{
    list-style: none;
    display: none
}

#containerul span{
    float: left;
    font-size: 40px;
    opacity: 0.1;
    margin: 0px 20px;

}

.processtext p{
    padding: 0px 100px;
    margin-top: 10px;
}



#prev{
    position: absolute;
    top:50%;
    font-size: 35px;
    left: 5%;
    cursor: pointer;
    z-index: 100000000;
}

#next{
    position: absolute;
    top:50%;
    font-size: 35px;
    right: 10%;
    cursor: pointer;
}




/* Products */

#products{
    height: 130%;
    min-height: 950px;

}

#products_center{
    height: 100%;
    padding: 0;
    padding-bottom: 10%;
}

#product_description{
    height: 10%;
    padding: 0px 100px;
    margin: 10px 0 30px 0;
}



#products_tittle{
    height: 15%;
    position: relative;
}

    /*gallery*/



    /*ficha*/




.ficha{
    background-color: white;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 7px 46px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 46px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 46px -13px rgba(0,0,0,0.75);
}


.ficha img:hover{
    transform: scale(1.1);
    transition:0.2s;
}

.ficha h4{
    border-top: 3px solid #b3de81;
    font-family: "Megrim";
    font-size: 30px;
    margin: 0;
    padding: 10px;
    color: #555555;
}


.ficha a{
    text-decoration: none;
    color: black;
}

    /*hover animation*/





/* breath */

#breath{
    height: 40%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    width: 100%;
}

/* Contact */


#contact{
    height: 80%;
    min-height: 550px;
}

#contact_center{
    height: 100%;
    background-color: white;
    text-align: center;
}

#contact_tittle{
    height: 15%;
    position: relative;
}


#contact_form{
    height: 85%;
    position: relative;
}


#contact form{
    width: 50%;
    margin: auto;
}


.form-group{
    margin: 20px;
}

.form-group input{
    border: none;
    border-bottom: 3px solid #b3de81;
    width: 100%;
}

.form-group textarea{
    border: none;
    border-bottom: 3px solid #b3de81;
    width: 100%;
}







/* footer */

footer{
    height: 30%;
    min-height: 200px;
    background-color:#2a3132;

}

.footerbox{
    height: 100%;
    position: relative;
    padding: 0;
        /*flex*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.footerboxcenter{  /*Don't understand why I have to keep this*/
    text-align: center;

}

.footerboxcenter h4{
    color: white;
    margin: 20px 0px;
    border-bottom: 3px solid #b3de81;

}

.footerboxcenter ul li{
    list-style-type: none;
    margin: 4px 0px;
 }

 .footerboxcenter ul li a{
    text-decoration: none;
    color: white;
    font-family: "Lato"    
 }

 .footerboxcenter ul li a:hover{
    border-bottom: 3px solid #b3de81;
    color: #b3de81;
    transition: 0.1s;   
 }


/* logo foter*/ 

.footerboxcenter img{  
      -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
    filter: invert(100%);   
    margin: auto;
    display: block;
}

.footerboxcenter h5{
      text-align: center;
}



                                    /*Product detail */




/* Product */

#product{
    height: 80%;
    min-height: 600px;
    background-color: white;
    margin-bottom: 20px;
}


        /* Gallery pictures */


#imgbox{
    height: 100%;
    min-height: 400px;
}

#bigimg{        /* Big image */
    width: 100%;
    height: 60%;
    min-height: 370px;

}

#bigimg div img{
    width: 75%;
    min-width: 570px;
    display: block;
    margin: auto;
    margin-top: 20px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);
}


#bigimg div{
    display: none;
}

.bigimg_active{
    display: block!important;
}


.smallimg_active{
    outline:  5px solid #b3de81;

}

#smallimg img{
    cursor: pointer;

}


#controls{          /* Controls image */
    width: 100%;
    height: 10%;
    min-height: 60px;
    text-align: center;
}

#controls span{
    margin: 20px;
    font-size: 25px;

}



#smallimg{
    width: 100%;
    height:30%;

    /*flexbox*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    /*flexbox*/



}

#smallimg img{
    height: 40%;
    margin: 0px 20px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);

}

            /* Description Product */

#descriptionbox{
    height: 100%;
    position: relative;
}



#title_and_underline{            /* title */
    height: 10%
}

.title_product_detail{
    font-family: 'Megrim', cursive;
    top:5%;
    position: absolute;
    font-size: 45px;
    text-align: center;
    width: 100%;
    z-index: 100000;
}

.underline_product_detail{
    background-color: #b3de81;
    width: 100px;
    height: 30px;
    position: absolute;
    right: 50%;
    top: 5%;
}

#price{             /*PRICE*/
    height: 10%;
    margin: 30px 0px 0px 0px;
}

#price p{
    font-family: "Lato";
    display: inline;
    font-size: 20px;
}

#price h2{
    font-family: "Montserrat";
    display: inline;
    font-size: 30px;

}

#price span{
    font-family: "Lato";
    display: inline;
    font-size: 30px;
}


        /* Description */

#description{
    height: 20%;
    width: 100%;
}


.greenline{
    background-color: #b3de81;
    height: 4px;
    width: 50%;
    display: block;
    margin: auto;
}

#description p{
    margin: 30px;
    min-width: 100px;
}


     /* FORM */



#descriptionbox form{
    height: 20%;
}

#descriptionbox form fieldset{
    margin: 20px;

}

#descriptionbox form fieldset span{
    border-bottom: 2px solid #b3de81;

}


#descriptionbox form label{
    font-family: "Lato";
    margin-left: 20px;
}


.form-control {
    width: 20%;
    display: inline;
    margin: 0px 20px;
}

     /* GO CART */

#gocart{
    width: 100%;
    text-align: center;
}


#gocart div{
    display: block;
    margin: auto;
}


                                        /* Checkout */

#main_img{
    height: 30%;
    min-height: 230px;
    background-image: url("");
    background-size: cover;
    background-position: bottom;
    text-align: center;
    position: relative;
}

#main_img h1{
    margin: 0;
    padding-top: 100px;
    font-family: "Montserrat";
    color: white;
    font-size: 50px;
}

.headerbox{
    position: absolute;
    top: 25px;
    left: 30px;
    background-color: white;
    font-family: "Megrim";
    font-size: 25px;
    padding: 0px 15px;

}




    /*formulario*/

#payment-form{
    /*flexbox*/
display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    /*flexbox*/
    width: 100%;
    margin: 50px 0px;
    border: 3px solid #b3de81;
    padding: 30px 0px;
}

#payment-form .form-group{
    margin: 10px 20px!important;
    position: relative;

}

#div_id_expiry_year, #div_id_expiry_month{
    width: 60px!important;
    display: inline;
    float: right;
}

#submit_payment_btn{
    background: #b3de81;
    color: white;
    margin-top: 30px;
}


#boxtable{
    background-color: #b3de81;
    margin-bottom: 50px!important;
}

#total{
    background-color: #555555;
}

/*order*/




                            /* PROFILE */


#main_img{
    height: 30%;
    min-height: 230px;
    background-image: url("user_area/main_personal.jpg");
    background-size: cover;
    background-position: bottom;
    text-align: center;
}

#main_img h1{
    margin: 0;
    padding-top: 100px;
    font-family: "Montserrat";
    color: white;
    font-size: 50px;
}

#user_area{
    height: 50%;
    background-color: white;
    min-height: 400px;
    /*flexbox*/
   display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*flexbox*/
}

#boxform{
    width: 50%;
    height: 85%;
    margin: 30px;
    border: 3px solid #b3de81;
}

 #boxform table {
    display:block;
    text-align: center;
    margin: auto;
    width: 52%;
    height: 70%;
    margin-top:30px;
}



 #boxform table th{
    padding: 15px 0px;
    width: 20%;
}

#tablecontainer{
    height: 70%;
    position: relative;
    text-align: center;
    padding-top: 100px;
}




                            /* PROFILE */





/* ANIMATIONS */


.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

/* CSS Animations (extracted from http://glifo.uiparade.com/) */

.animatable{
    position: relative;
}

.thumb_overlay{
    width: 100%;
    background-color: #b3de81;
    color: #555555;
    height: 100%;
    position: absolute;
    top:100%;
    text-align: center;
    -webkit-animation-name: up_overlay;
    -moz-animation-name: up_overlay;
    -o-animation-name: up_overlay;
    animation-name: up_overlay;

}

.animatable_thumb.up_overlay{
}


@keyframes up_overlay {
    0%{
        transform: translate(0);
    }

    100%{
        transform: translateY(1000px)!important;
    }
}

@-webkit-keyframes up_overlay {
    0%{
        -webkit-transform: translate(0);
    }

    100%{
        -webkit-transform: translateY(1000px)!important;
    }
}



@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }   100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated.animationDelay{
    animation-delay:.4s;
    -webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
    animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
    animation-delay:1.6s;
    -webkit-animation-delay:1.6s;
}

.animated.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}



                                                            /*PPPPPPPPPPPPPPPPP*/

