{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="container center">
    <div class="quick ">
        <form role="form" method="post" action="{% url 'log_in' %}?next={% url 'profile' %}">
            <legend>Login</legend>
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-green">Log in</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}