{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <!--Product-->
	<div id="main_img" style="background-image: url('{% static "main_personal.jpg" %}')">
			<h1>  Area de usuario </h1>
	</div>
	<section id="user_area" class="animatable fadeInUp">
		<div id="boxform">
			<div id="tablecontainer">
                <p class="text"><span class="subheader"> Nombre de usuario: </span> {{ user.username }}</p>
                <p class="text"><span class="subheader"> Email: </span> {{ user.email }}</p>
                <a href="{% url 'remove_account' user.id %}" class="confirm-delete"> <button id="unsuscribe" type="submit" class="btndos  btndos-green"> Darse de baja </button></a>
			</div>

		</div>
	</section>
{% endblock %}