{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <!--Product-->
	<div id="main_img" style="background-image: url('{% static "main_personal.jpg" %}')">
			<h1>  Personal area </h1>
	</div>
	<section id="user_area" class="animatable fadeInUp">
		<div id="boxform">
			<div id="tablecontainer">
                <p class="text"><span class="subheader"> User name: </span> {{ user.username }}</p>
                <p class="text"><span class="subheader"> User email: </span> {{ user.email }}</p>
				<button id="unsuscribe" type="submit" class="btndos  btndos-green"> Unsuscribe </button>
			</div>

		</div>
	</section>
{% endblock %}