{% extends 'base.html' %}
{% load static from staticfiles %}


{% block content %}
    <div id="main_img" style="background-image: url('{% static "maincheck.jpg" %}')">
        <h1>  Cart </h1>
        <div id="back" > <a href="{% url 'home' %}#products"><span class="glyphicon glyphicon-chevron-left white"> </span><p class="white"> Back </p></a></div>

	</div>
    <div class="column_center container">
        <div id="cart_list" class="row">
            <div class="col-md-8">
                <div clas="subheader"> No hay ningún terrario en la cesta.</div>
                <div><a href="{% url 'home' %}#products" class="subheader"> Ir a productos <span class="glyphicon glyphicon-chevron-right white"> </span></a></div>
            </div>
               <div id="boxtable" class="col-md-4  center order">
                <h1 class="subheader white"> Tu orden </h1>
                <div >
                    <p class="subheader " > Productos </p>

                </div>
                <div id="total" class="white"> <span class="text white">Total: 0 € </span></div>
                <hr class="white">
            </div>
        </div>
    </div>
{% endblock %}
