{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Our Simple Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Homemade+Apple|Megrim|Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/kybos.css' %}">

	<script src="{% static 'js/lib/jquery-3.1.1.min.js' %}"> </script>
	<script src="{% static 'js/lib/bootstrap.min.js' %}"> </script>
    {% block head_js %}{% endblock %}

</head>
    <body style="background-image: url('{% static "patron2.png" %}')">
    {% block headertop %}
    {% endblock %}
	<header>
		<nav id="navbarall" class="nav navbar center navbar-default">
			<div class="navbar-header">
				<button
				 type="button"
				 class="navbar-toggle"
				 data-toggle="collapse"
				 data-target="#navwrapper"
				 aria-controls="navwrapper"
				 aria-expanded="false"
				 aria-label="Toggle-navigation">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	   		 	<span class="icon-bar"></span>
	            </button>
				<div class="navbar-brand"> <img src="{{ MEDIA_URL }}images/logo.png" width="50px"> <span class="sr-only">(current)</span><p> Kybos Terrariums</p></div>
			</div>
			<div class="collapse navbar-inner navbar-collapse" id="navwrapper">
				<ul class="nav navbar-nav">
					<li class="nav-item"> <a class="nav-link" href="{% url 'home' %}" data-scroll="Home"> Home</a> </li>
					<li class="nav-item"> <a class="nav-link" href="{% url 'home' %}#process" data-scroll="Process"> About </a> </li>
					<li class="nav-item"> <a class="nav-link" href="{% url 'home' %}#products" data-scroll="Products"> Products</a> </li>
					<li class="nav-item"> <a class="nav-link" href="{% url 'home' %}#contact" data-scroll="Contact"> Contact </a> </li>
                    {% if user.is_authenticated  %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'profile' %}"> Profile </a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'log_out' %}"> Log out </a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'cart_user' %}"> <span class="glyphicon glyphicon-shopping-cart"></span> </a> </li>
                    {% else %}
					<li class="nav-item"> <a class="nav-link" href="{% url 'log_in' %}"> Log in </a> </li>
					<li class="nav-item"> <a class="nav-link" href="{% url 'register' %}"> Register </a> </li>
                    {% endif %}
				</ul>
                  {% if messages %}
                        <div class="container alert alert-success">
                        <div class="messages">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
            </div>
        </div></div>
    {% endif %}
			</div>
		</nav>
    </header>


       {% block content %}
       {% endblock %}

    <footer>

		<div id="navfooter" class="footerbox col-md-4 col-sm-4 col-xs-12">
			<div  class="footerboxcenter">
			<ul>
				<li> <h4> Kybos terrariums </h4></li>
				<li> <a href="{% url 'home' %}" data-scroll="Home"> Home </a></li>
				<li> <a href="{% url 'home' %}#process" data-scroll="Process"> About </a></li>
				<li> <a href="{% url 'home' %}#products" data-scroll="Products"> Products </a></li>
				<li> <a href="{% url 'home' %}#contact" data-scroll="Contact"> Contact </a></li>
			</ul>
			</div>
		</div>
		<div id="logofooter" class="footerbox col-md-4 col-sm-4 col-xs-6">
		 		<div class="footerboxcenter">
					<img src="{{ MEDIA_URL }}images/images_ky/logo.png" width="40%">
					<h5 class="subheader white"> Lively terrariums <br> 2017</h5>
		 		</div>
		</div>
		<div id="contactfooter" class="footerbox col-md-4 col-sm-4 col-xs-5">
			<div class="footerboxcenter">
				<h4> Contact us </h4>
				<p class="text white"> mail@kybos.com <br> Calle Mar Báltico numero 23 <br> Telefono 91782238r8123 </p>

			</div>
		</div>

	</footer>



	<script src="{% static 'js/kybos.js' %}"> </script>

    </body>

</html>