{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}


{% block content %}
    <div id="main_img" style="background-image: url('{% static "maincheck.jpg" %}')">
        <h1>  Checkout </h1>
        <div id="back" > <a href="{% url 'home' %}#products"><span class="glyphicon glyphicon-chevron-left white"> </span><p class="white"> Back </p></a></div>

	</div>
    <div class="column_center container">
		<div class="col-md-12 animatable fadeInUp">
			<div class="headerbox"> Address </div>
                <form role="form" method="post" id="payment-form" action="{% url 'check_out' payment.id %}">
                    <div id="credit-card-errors" style="display:none">
                        <div class="alert-message block-message error" id="stripe-error-message"></div>
                    </div>
                    <hr>
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <div class="form-group">
                      <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                    </div>
                </form>
		</div>
		<div id="boxtable" class="col-md-4  center order animatable fadeInUp">
			<h1 class="subheader white"> Your order </h1>
			<div >
				<p class="subheader " > Products </p>
			</div>
			<div id="total" class="white"> <span class="text white">Total: € </span></div>
            <hr class="white">
			<div id="paybutton"> <a href="../thanks/thanks.html"><button type="submit" class="btn btn-default btn-green"> Pay </button></a></div>
		</div>
    </div>
{% endblock %}